@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap');*{
  margin: 0;
  font-family: "Roboto";
  color : #FCD8CF;
  background-color: #525050;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #FFF7EC;
}

.navbar h1{
  color: #F6F8e2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #FCD8CF;
}

.navbar a:hover{
  color: #F6F8e2;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #FFF7EC;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(158, 158, 158)
}

.blog-preview h2{
  font-size: 20px;
  color:#F6F8e2;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #F6F8e2;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details div{
  color:#F6F8e2 ;
}

.blog-details button{
  background-color: #525050;
  color: #F6F8e2;
  border: 1px solid #F6F8e2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details button:hover {
  box-shadow: 1px 3px 5px rgb(158, 158, 158)
}

/* New Blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #F6F8e2;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #525050;
  color: #F6F8e2;
  border: 1px solid #F6F8e2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  box-shadow: 1px 3px 5px rgb(158, 158, 158)
}
